body {
    margin: 0;
    background-color: #ddd;
    font-family: sans-serif;
  }

  .fake-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
    gap: 1rem;
  }

  .cell {
    border: 1px solid black;
    padding: 1rem;
    flex: 1 1 240px;
    min-width: 220px;
    text-align: center;
  }

.arrow{ cursor: pointer; }
.arrow polygon{
  fill: limegreen;
  transition: fill .3s;
}
.arrow:hover polygon,
.arrow:focus-visible polygon{
  fill: blue;
}